.concept{
    padding: 5em 0;
    background: $section-bg;
    .concept-header{
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1em 0 2em;
    }
    .concept-subheader{
        letter-spacing: 2px;
        padding: 0 0 3em;
    }
    .img-concept{
        font-size: 1.4em;
        padding: 3em 0 0;
        letter-spacing: 2px;
        span{
            font-weight: bold;
            padding: 0 1px;
        }
    }   
}