.concept {
    position: relative;
    padding: 5em 0;
    //background-image: url('../../assets/images/bg-img/left-bg-left.png'), url('../../assets/images/bg-img/right-bg-tree.png');
    //background-position: left top, right bottom; 
    //background-repeat: no-repeat;
    //background-size: 180px, 250px;
    .tree-left{
        position: absolute;
        top:0;
        width: 180px;
    }
    .tree-right{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 250px;
    }
    .concept-header {
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 1em 0 2em;
    }

    .concept-subheader {
        letter-spacing: 2px;
        padding: 0 0 3em;
        line-height: 1.6;
    }

    .concept-txt {
        font-size: 1.4em;
        line-height: 1.6;
    }

    .concept-det {
        font-size: 1.4em;
        line-height: 1.6;
    }

    .img-concept {
        font-size: 1.4em;
        padding: 3em 0 0;
        letter-spacing: 2px;

        span {
            font-weight: bold;
            padding: 0 1px;
        }
    }

    .concept-detail {
        padding-bottom: 5em;
    }
}