.facilities {
  .slide-bg {
    background: url('../../assets/images/bg-img/slider-bg.png') no-repeat right bottom;
    height: 600px;
    background-size: cover;
  }

  .facility-bg {
    background: $main-color;
    color: $white;
    //min-height: 400px;
    margin-top: 5em;
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0;
    h2{
      padding: 0 0 1em 0;
      font-family: 'Athiti',sans-serif;
      font-weight: 400;
    }
    h3 {
      font-family: 'Athiti',sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    .dot {
      height: 0.5em;
      width: 0.5em;
      background-color: $white;
      border-radius: 50%;
      display: block;
      margin: 1em auto;
    }
  }

  .btn-exclusive {
    border: solid 2px $main-color;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 0.8em 2em;
    border-radius: 0;
    background: none;
    margin: 2em 0;
    letter-spacing: 2px;
  }

}