.facilities {
  .slide-bg {
    background: url('../../assets/images/bg-img/slider-bg.png') no-repeat right bottom;
    height: 600px;
    background-size: cover;
  }

  .facility-bg,.facility-mobile {
    background: $main-color;
    color: $white;
    //min-height: 400px;
    margin-top: 5em;
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0;
    h2{
      padding: 0 0 1em 0;
      font-family: 'Athiti',sans-serif;
      font-weight: 400;
    }
    h3 {
      font-family: 'Athiti',sans-serif;
      font-size: 1.2em;
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: capitalize;
    }

    .dot {
      height: 0.5em;
      width: 0.5em;
      background-color: $white;
      border-radius: 50%;
      display: block;
      margin: 1em auto;
    }
  }


  .btn-exclusive {
    border: solid 2px $main-color;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.3em;
    padding: 0.8em 2em;
    border-radius: 0;
    background: none;
    margin: 2em 0;
    letter-spacing: 2px;
  }
  .facility-mobile{
    display: none;
  }

  @media only screen and (max-width: 768px) {
    .facility-bg{
      display: none;
    }
    .facility-mobile{
      display: block;
      margin: 0;
    }
    .btn-exclusive{
      display: none;
    }
    .hidden-mobile{
      display: none;
    }
    .mobile-exclusive{
      color: #fff;
      border:solid 1px #fff;
      padding: 0.7em 0 !important;
      width: 70%;
      font-size: 1.6em;
      margin: 0 auto 2em;
    }
    .slide-bg {
      background: url('../../assets/images/bg-img/new-render-mobile.jpg') no-repeat right bottom;
      height: 600px;
      background-size: cover;
    }
  }

  

}