.tophead {
    background: url('../../assets/images/bg-img/new-concept-bg2.jpg') no-repeat center bottom;
    height: 115vh;
    padding: 0;
    padding-bottom: 0;

    //min-height: 1070px;
    .logo-main {
        padding: 2em 0 0;
    }

    .main-menu {
        a {
            color: $white;
            font-size: 1.3em;
            padding: 0 0.3em;
        }

        .list-inline-item::after {
            content: "|";
            color: #fff;
            padding: 0 0.5em;
        }

        .list-inline-item:not(:last-child) {
            margin: 0;
        }

        .list-inline-item:last-child::after {
            content: "";
            color: #fff;
            padding: 0 0.5em;
        }


    }

    .bg-main {
        background: $main-color;
        position: relative;
        top: -28px;

        a {
            color: $white;
        }

        .nav-link {
            text-transform: uppercase;
            padding: 0.5em 2.5em;
            letter-spacing: 1px;
            font-weight: 100;
            color: #fff;
        }
    }

    .h-100 {
        height: 93% !important;
    }

    .navbar-text {
        padding: 0;
    }

    .navbar-brand {
        position: absolute;
        left: 50%;
        top:0;
        transform: translateX(-50%);
    }
    .navbar-tel{
        display: none;
    }
    .navbar-tel{
        position: absolute;
        left: 22%;
        transform: translateX(-22%);
        font-size: 1.5em;
    }

    .bg-navregis{
        background-color:rgba(248,249,250,1);
    }
    .nav-regis{
        display: block;
        outline: none;
        text-shadow: none;
        border:none;
    }

    .tophead .head-big{
        
        display: block;
    }
    .tophead .head-mobile{
        display: none;
    }

}


@media only screen and (max-width: 1200px) {
    .tophead .bg-main .nav-link {
        padding: 0.5em 1em;
        font-size: 0.9em;
    }

}

@media only screen and (max-width: 992px) {
    .tophead .bg-main .nav-link {
        padding: 0.5em 1em;
        font-size: 0.8em;
    }

    .tophead .bg-main {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .navbar-top {
        display: none;
    }
    .tophead .bg-navregis{
        background-color:rgba(248,249,250,0.8);
    }
    
}

@media only screen and (max-width: 768px) {
    .tophead .head-big{
        display: none;
    }
    .tophead .head-mobile{
        display: block;
        padding: 0;
    }
    .tophead {
       background: none;
       height: auto;
       .h-100{
        height: 100% !important;
       }
       .container{
           max-width: 100%;
       }
    }    
    .tophead .bg-main {
        z-index: 999;
    }

    .tophead .bg-main .nav-link {
        padding: 1em;
        font-size: 1em;
    }
    .tophead-regis{
        margin-bottom: 50px;
        .navbar-nav{
            padding-top: 1em;
        }
        .nav-item{
            padding-bottom: 0.5em;
        }
    }

}
@media only screen and (max-width: 767px) {
    .tophead .navbar-tel{
        display: block;
    }

}

@media (min-width: 1600px) {
    .tophead {
        height: 100vh;
    }
}