.tophead{
    background: url('../../assets/images/header-bg.jpg') no-repeat right bottom;
    height: 100vh;
    padding: 0;
    padding-bottom: 0;
    min-height: 820px;
    .logo-main{
        padding: 2em 0 0;
    }
    .main-menu{
        a {
            color: $white;  
            font-size: 1.3em;
            padding: 0 0.3em;
        }
        .list-inline-item::after {
            content:"|";
            color: #fff;
            padding: 0 0.5em;
        }
        .list-inline-item:not(:last-child){
            margin: 0; 
        }
        .list-inline-item:last-child::after {
            content:"";
            color: #fff;
            padding: 0 0.5em;
        }
        
        
    }
}