.plan-project {
    position: relative;
    //background: url('../../assets/images/bg-img/left-bg-left.png') no-repeat left top;
    //background-size: 180px;
    .tree-left{
        position: absolute;
        left: 0;
        top: 0;
        width: 180px;
    }
    .master-plan-det {
        color: #333;
        font-size: 1.2em;
        padding: 0 0 2em 0;
        display: list-item;  
        list-style-type: disc;       
        list-style-position: inside;
    }
    @media only screen and (max-width: 768px) {
        .master-plan-det{
            list-style-type: none;       
            list-style-position: inside;
            //border:solid 1px #333;
            background: #fff;
            padding: 1em 0;
            width: 70%;
            margin: 1em auto 2em;
        }
    }
}
