.plan-project {
    background: url('../../assets/images/bg-img/left-bg-left.png') no-repeat left top;
    background-size: 180px;

    .master-plan-det {
        color: $main-color;
        font-size: 1.2em;
        padding: 0 0 2em 0;
    }
}