.project-detail {
    padding: 5em 0 0;
    background: url('../../assets/images/bg-img/big-leaf-bg.png') no-repeat right bottom;
    background-size: 250px;
    background-position: right -50px bottom 10px;

    .heading-topic {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .btn-map {
        background: $main-color;
        color: #fff;
        text-transform: uppercase;
        padding: 0.8em 2.5em;
        margin: 2em 0 2em 0;
        border-radius: 0;
        letter-spacing: 1.5px;
    }

    .nav-detail {
        padding: 3em 0 0;
    }

    .nav-tabs {
        border: none;
    }

    .nav-tabs .nav-link {
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: solid 1px #000;
        background-color: transparent;
        color: $grey;
        font-size: 1.4em;
        letter-spacing: 1px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.4;
        padding: 0.5em 0;
        width: 75%;

        &:last-child {
            border-bottom: none;
        }

    }

    .nav-tabs .nav-link.active {
        color: $black;

    }

    .tab-pane {
        padding: 5em 0;
    }

    .detail-content {
        .list-unstyled {
            margin: 1em 0 0 0;

            &:first-child {
                margin: 0;
            }

            li {
                line-height: 2em;
                letter-spacing: 0.5px;
                font-weight: 500;
                font-size: 0.9em;
            }
        }

        .icon-list {
            width: 30px;
            height: 30px;
            margin-right: 0.5em;
        }
    }

    .remark-icon {
        font-size: 0.6em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .home-line {
        border-top: solid 2px $main-color;
        width: 20%;
        margin-top: 5em;
    }
    .home-line-bottom{
        border-top: solid 2px $main-color;
        width: 20%;
        margin-top: 1em;
    }
    .space-head{
        padding-left: 3rem;
    }
    .price{
        h4{
            line-height: 1.6;
        }
    }

    @media only screen and (max-width: 992px) {
        .project-header {
            text-align: center;
        }
        .space-head{
            padding:0;
        }
    }
    

    @media only screen and (max-width: 576px) {
        .remark-icon {
            padding: 3em 0 0 1em;
        }
        .space-head{
            padding:0;
        }
    }


}

@media only screen and (max-width: 768px) {
    .project-detail {
        background: url('../../assets/images/bg-img/big-leaf-bg.png') no-repeat right bottom;
        background-size: 250px;
        background-position: right -135px bottom 10px;
    }    
}