.regis-form{
    //background: url("../images/bg-img/regis-form.jpg"),rgba(196,177,144, 0.7);
    background: rgba(196,177,144, 0.7);
    padding: 3em 0;
    .form-logo{
        max-width: 300px;
        margin: 0 0 3em 0;
    }
    .form-register{
        padding: 3em 0;
    }
    .form-group{
        .form-control{
            background: $main-color;
            color: $white;
            box-shadow: none;
            border-radius: 0;
        }
    }
    .btn-confirm{
        margin: 1em 0 0 0;
        background: none;
        border:solid 1px #000;
        padding: 0.4em 3em;
        color: #000;
    }
    .regis-detail{
        color: $white;
        p{
            margin: 0;
            line-height: 1.8;
        }
    }
}