body{
    font-family: 'Faustina','Athiti',sans-serif;
}

a {
    text-decoration: none!important;
}
.block-center {
    margin: 0 auto;
    display: block;
}

.img-fluid{
    width: auto;
    height: auto;
}

.btn{
    box-shadow: none!important;
    outline: none!important;
}

.non-padding{
    padding: 0!important;
}