@font-face {
  font-family: 'Faustina';
  src: url("../../font/Faustina-Regular.eot");
  src: url("../../font/Faustina-Regular.eot?#iefix") format("embedded-opentype"), url("../../font/Faustina-Regularr.woff2") format("woff2"), url("../../font/Faustina-Regular.woff") format("woff"), url("../../font/Faustina-Regular.ttf") format("truetype"), url("../../font/Faustina-Regular.svg#Faustina-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Faustina','Athiti',sans-serif; }

a {
  text-decoration: none !important; }

.block-center {
  margin: 0 auto;
  display: block; }

.tophead {
  background: url("../../assets/images/header-bg.jpg") no-repeat right bottom;
  height: 100vh;
  padding: 0;
  padding-bottom: 0;
  min-height: 820px; }
  .tophead .logo-main {
    padding: 2em 0 0; }
  .tophead .main-menu a {
    color: #fff;
    font-size: 1.3em;
    padding: 0 0.3em; }
  .tophead .main-menu .list-inline-item::after {
    content: "|";
    color: #fff;
    padding: 0 0.5em; }
  .tophead .main-menu .list-inline-item:not(:last-child) {
    margin: 0; }
  .tophead .main-menu .list-inline-item:last-child::after {
    content: "";
    color: #fff;
    padding: 0 0.5em; }

.register {
  background: url("../../assets/images/sub-bg.jpg") no-repeat right bottom;
  padding: 5rem 0;
  min-height: 700px; }
  .register .logo-sub {
    padding: 8em 0 2em; }
  .register .btn-regis {
    background: #fff;
    color: #000;
    outline: 2px solid #fff;
    outline-offset: 0.5em;
    padding: 0.7em 0;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 0; }

.facilities {
  padding: 5em 0; }
  .facilities .icon-facility {
    width: 50px; }
  .facilities .facility-list {
    min-height: 4em; }
    .facilities .facility-list p {
      font-weight: bold;
      text-transform: capitalize;
      line-height: 1.4;
      padding: 1em 0 0;
      margin: 0; }
    .facilities .facility-list .icon-facility {
      margin-right: 1em; }

.concept {
  padding: 5em 0;
  background: #F4EDE5; }
  .concept .logo-concept {
    max-width: 400px; }
  .concept .concept-txt {
    padding: 2.5em 0;
    background: url("../../assets/images/concept-img-tree.png") no-repeat left bottom;
    height: 500px;
    margin: 0 0 7em 0; }
    .concept .concept-txt h3 {
      font-weight: bold;
      letter-spacing: 2px; }
  .concept .concept-head {
    font-weight: bold;
    margin: 0 0 2em 0;
    font-size: 1.7em; }
  .concept .concept-det {
    padding: 1.5em 0 4em;
    letter-spacing: 2px;
    font-size: 1.4em; }
  .concept .blackline {
    border-top: 2px solid #000;
    width: 60%; }
  .concept .img-det {
    width: 100%; }
  .concept .img-concept {
    font-size: 1.4em;
    padding: 3em 0 0;
    letter-spacing: 2px; }
    .concept .img-concept span {
      font-weight: bold;
      padding: 0 1px; }

.project-detail {
  padding: 0 0 5em 0;
  background: #F4EDE5; }
  .project-detail .nav-detail {
    padding: 3em 0; }
  .project-detail .nav-tabs {
    border: none; }
  .project-detail .nav-tabs .nav-link {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px #000;
    background-color: transparent;
    color: #999;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 0.5em 0;
    width: 75%; }
    .project-detail .nav-tabs .nav-link:last-child {
      border-bottom: none; }
  .project-detail .nav-tabs .nav-link.active {
    color: #000; }
  .project-detail .tab-pane {
    padding: 5em 0; }

/*# sourceMappingURL=style.css.map */
