@charset "UTF-8";
@font-face {
  font-family: 'Faustina';
  src: url("../../font/Faustina-Regular.eot");
  src: url("../../font/Faustina-Regular.eot?#iefix") format("embedded-opentype"), url("../../font/Faustina-Regularr.woff2") format("woff2"), url("../../font/Faustina-Regular.woff") format("woff"), url("../../font/Faustina-Regular.ttf") format("truetype"), url("../../font/Faustina-Regular.svg#Faustina-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Faustina','Athiti',sans-serif; }

a {
  text-decoration: none !important; }

.block-center {
  margin: 0 auto;
  display: block; }

.img-fluid {
  width: auto;
  height: auto; }

.btn {
  box-shadow: none !important;
  outline: none !important; }

.non-padding {
  padding: 0 !important; }

@media only screen and (max-width: 992px) {
  .margin-0-row {
    margin: 0 !important; } }
.tophead {
  background: url("../../assets/images/bg-img/new-design-header.jpg") no-repeat center bottom;
  height: 120vh;
  padding: 0;
  padding-bottom: 0; }
  .tophead .logo-main {
    padding: 2em 0 0; }
  .tophead .main-menu a {
    color: #fff;
    font-size: 1.3em;
    padding: 0 0.3em; }
  .tophead .main-menu .list-inline-item::after {
    content: "|";
    color: #fff;
    padding: 0 0.5em; }
  .tophead .main-menu .list-inline-item:not(:last-child) {
    margin: 0; }
  .tophead .main-menu .list-inline-item:last-child::after {
    content: "";
    color: #fff;
    padding: 0 0.5em; }
  .tophead .bg-main {
    background: #C4B190;
    position: relative;
    top: -28px; }
    .tophead .bg-main a {
      color: #fff; }
    .tophead .bg-main .nav-link {
      text-transform: uppercase;
      padding: 0.5em 2.5em;
      letter-spacing: 1px;
      font-weight: 100;
      color: #fff; }

@media only screen and (max-width: 1200px) {
  .tophead .bg-main .nav-link {
    padding: 0.5em 1em;
    font-size: 0.9em; } }
@media only screen and (max-width: 992px) {
  .tophead .bg-main .nav-link {
    padding: 0.5em 1em;
    font-size: 0.8em; } }
@media only screen and (max-width: 768px) {
  .tophead .bg-main {
    z-index: 999; }

  .tophead .bg-main .nav-link {
    padding: 1em;
    font-size: 1em; } }
@media (min-width: 1600px) {
  .tophead {
    height: 100vh; } }
.register {
  padding: 5rem 0;
  min-height: 700px; }
  .register .logo-sub {
    padding: 8em 0 2em; }
  .register .btn-regis {
    background: #fff;
    color: #000;
    outline: 2px solid #fff;
    outline-offset: 0.5em;
    padding: 0.7em 0;
    font-weight: bold;
    font-size: 1.4em;
    border-radius: 0;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .register .regis-bg {
    background: url("../../assets/images/bg-img/regis-bg.jpg") no-repeat left center;
    height: 600px;
    background-size: cover; }
  .register .btn-regis {
    padding: 0.4em 2em;
    text-transform: uppercase;
    text-align: center; }
  @media only screen and (max-width: 768px) {
    .register .logo-sub {
      width: 50%; } }

.conveniently {
  padding: 5em 0; }
  .conveniently .icon-facility {
    width: 50px; }
  .conveniently .facility-list {
    min-height: 4em; }
    .conveniently .facility-list p {
      font-weight: bold;
      text-transform: capitalize;
      line-height: 1.4;
      padding: 1em 0 0;
      margin: 0; }
    .conveniently .facility-list .icon-facility {
      margin-right: 1em; }

.facilities .slide-bg {
  background: url("../../assets/images/bg-img/slider-bg.jpg") no-repeat left center;
  height: 600px;
  background-size: cover; }
.facilities .facility-bg {
  background: #C4B190;
  color: #fff;
  margin-top: 5em;
  text-align: center;
  text-transform: uppercase;
  padding: 5em 0; }
  .facilities .facility-bg h3 {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: 1px; }
  .facilities .facility-bg .dot {
    height: 0.5em;
    width: 0.5em;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    margin: 1em auto; }
.facilities .btn-exclusive {
  border: solid 2px #C4B190;
  color: #000000;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 0.8em 2em;
  border-radius: 0;
  background: none;
  margin: 2em 0;
  letter-spacing: 2px; }

.concept {
  padding: 5em 0;
  background-image: url("../../assets/images/bg-img/left-bg-left.png"), url("../../assets/images/bg-img/right-bg-tree.png");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 180px, 250px; }
  .concept .concept-header {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1em 0 2em; }
  .concept .concept-subheader {
    letter-spacing: 2px;
    padding: 0 0 3em; }
  .concept .img-concept {
    font-size: 1.4em;
    padding: 3em 0 0;
    letter-spacing: 2px; }
    .concept .img-concept span {
      font-weight: bold;
      padding: 0 1px; }
  .concept .concept-detail {
    padding-bottom: 5em; }

.project-detail {
  padding: 5em 0;
  background: url("../../assets/images/bg-img/big-leaf-bg.png") no-repeat right bottom;
  background-size: 250px;
  background-position: right -50px bottom 10px; }
  .project-detail .heading-topic {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-weight: 500; }
  .project-detail .btn-map {
    background: #C4B190;
    color: #fff;
    text-transform: uppercase;
    padding: 0.8em 2.5em;
    margin: 2em 0 5em 0;
    border-radius: 0;
    letter-spacing: 1.5px; }
  .project-detail .nav-detail {
    padding: 3em 0 0; }
  .project-detail .nav-tabs {
    border: none; }
  .project-detail .nav-tabs .nav-link {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px #000;
    background-color: transparent;
    color: #999;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    padding: 0.5em 0;
    width: 75%; }
    .project-detail .nav-tabs .nav-link:last-child {
      border-bottom: none; }
  .project-detail .nav-tabs .nav-link.active {
    color: #000; }
  .project-detail .tab-pane {
    padding: 5em 0; }
  .project-detail .detail-content .list-unstyled {
    margin: 1em 0 0 0; }
    .project-detail .detail-content .list-unstyled:first-child {
      margin: 0; }
    .project-detail .detail-content .list-unstyled li {
      line-height: 2em;
      letter-spacing: 0.5px;
      font-weight: 500;
      font-size: 0.9em; }
  .project-detail .detail-content .icon-list {
    width: 30px;
    height: 30px;
    margin-right: 0.5em; }
  .project-detail .remark-icon {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px; }
  @media only screen and (max-width: 992px) {
    .project-detail .project-header {
      text-align: center; } }
  @media only screen and (max-width: 576px) {
    .project-detail .remark-icon {
      padding: 3em 0 0 1em; } }

.gallery {
  padding: 5em 0 2em 0; }
  .gallery .slick-prev {
    left: 3%;
    color: #fff;
    z-index: 700;
    top: 30%;
    background: url("../../assets/images/icon/gallery-left.png") no-repeat left center !important;
    width: 60px;
    height: 60px;
    opacity: 1; }
    .gallery .slick-prev:before {
      content: "";
      opacity: 1; }
    .gallery .slick-prev:hover {
      background: url("../../assets/images/icon/gallery-left.png") no-repeat left center; }
  .gallery .slick-next {
    right: 5%;
    color: #fff;
    z-index: 700;
    top: 30%;
    background: url("../../assets/images/icon/gallery-right.png") no-repeat right center !important;
    width: 60px;
    height: 60px;
    opacity: 1; }
    .gallery .slick-next:before {
      content: "";
      opacity: 1; }
    .gallery .slick-next:hover {
      background: url("../../assets/images/icon/gallery-right.png") no-repeat right center; }
  .gallery .slick-list {
    background: rgba(0, 0, 0, 0.8);
    z-index: 600; }
  .gallery .slick-slide img {
    width: 100%; }
  .gallery .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
    outline: none; }
  .gallery .slick-active {
    opacity: .5; }
  .gallery .slick-current {
    opacity: 1; }
  .gallery .gallery-text {
    margin: 0.5em 0 1em 0; }
  .gallery .btn-360 {
    width: 10em;
    margin: 0 auto 3em;
    display: block;
    background: none; }
  @media only screen and (max-width: 768px) {
    .gallery .slick-next {
      right: 0; }
    .gallery .slick-prev {
      left: 0; } }

.plan-home {
  padding: 0em 0 5em; }
  .plan-home .btn-floor {
    margin: 3em auto;
    text-align: center; }
    .plan-home .btn-floor .active .btn {
      background: #C4B190;
      color: #fff; }
    .plan-home .btn-floor .btn {
      background: none;
      border-radius: 0;
      border: solid 2px #C4B190;
      margin: 0 0.5em;
      width: 3rem;
      height: 3rem;
      color: #C4B190;
      font-weight: 300;
      font-size: 1.4em;
      padding: 0; }
      .plan-home .btn-floor .btn span {
        font-size: 0.7em;
        line-height: 0;
        position: relative;
        top: -5px;
        left: 2px; }
    .plan-home .btn-floor .nav {
      display: block; }
  .plan-home .floor-plan {
    border-left: solid 2px #C4B190;
    padding: 2em 0; }
  .plan-home .room-det {
    text-align: center;
    vertical-align: bottom;
    position: relative;
    height: 9em; }
    .plan-home .room-det .room-name {
      font-size: 1.2em;
      margin: 0;
      text-transform: uppercase;
      line-height: 1.1;
      position: absolute;
      bottom: 4em;
      width: 100%;
      text-align: center; }
    .plan-home .room-det .room-data {
      color: #C4B190;
      font-size: 2em;
      line-height: 1.2;
      margin-bottom: 1em;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center; }
  @media only screen and (max-width: 992px) {
    .plan-home .floor-plan {
      border-left: none; }
    .plan-home .tab-pane {
      text-align: center; } }

.map {
  padding: 2em 0; }
  .map .link-map {
    color: #000;
    text-align: center;
    line-height: 2;
    text-decoration: underline;
    margin: 2em 0 0 0; }
    .map .link-map a {
      color: #000; }

.news {
  padding: 3em 0; }
  .news .news-toppic {
    padding: 2em 0 0;
    text-transform: uppercase; }
  .news .news-block {
    padding: 3em 2em;
    position: relative; }
    .news .news-block .news-thumnail {
      height: 15em;
      overflow: hidden; }
    .news .news-block .news-content {
      background: #C4B190;
      padding: 1em; }
    .news .news-block .new-det {
      color: #fff;
      letter-spacing: 1px;
      font-weight: 300;
      font-size: 0.9em;
      line-height: 1.6;
      margin: 0; }
    .news .news-block .read-more {
      margin: 0; }
      .news .news-block .read-more a {
        padding: 0.5em 0 0 0;
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1.5px;
        text-decoration: underline !important;
        display: block; }
  @media only screen and (max-width: 992px) {
    .news .news-thumnail img {
      width: 100%; } }

.news-modal p {
  padding: 2em 0; }

@media only screen and (max-width: 992px) {
  .news .news-block .news-thumnail {
    height: auto; } }
.regis-form {
  background: url("../../assets/images/bg-img/form-bg.png") no-repeat right bottom, #c4b190;
  padding: 3em 0; }
  .regis-form .form-logo {
    max-width: 300px;
    margin: 0; }
  .regis-form .form-register {
    padding: 8em 0; }
  .regis-form .form-group .form-control {
    background: rgba(255, 255, 255, 0.6);
    color: #000;
    box-shadow: none;
    border-radius: 0; }
  .regis-form .btn-confirm {
    margin: 0;
    padding: 0.5em 2em;
    color: #000;
    background: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 0.9em; }
  .regis-form .regis-detail {
    color: #fff;
    padding: 1.5em 0; }
    .regis-form .regis-detail p {
      margin: 0;
      line-height: 1.8;
      font-size: 1.2em;
      letter-spacing: 1px; }
    .regis-form .regis-detail .regis-sale {
      letter-spacing: 2px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2em;
      margin-bottom: 0.5em; }
    .regis-form .regis-detail .spacing {
      padding-bottom: 0.8em; }
  .regis-form .social-list {
    font-size: 2em; }
    .regis-form .social-list a {
      color: #fff; }
    .regis-form .social-list .list-inline-item {
      margin-right: 1rem; }

@media only screen and (max-width: 992px) {
  .regis-form {
    text-align: center; }

  .regis-form .form-register {
    padding: 0; } }
.plan-project {
  background: url("../../assets/images/bg-img/left-bg-left.png") no-repeat left top;
  background-size: 180px; }

.footer {
  background: #000;
  padding: 3em 0; }
  .footer .link-inline {
    text-align: center;
    font-size: 2em; }
    .footer .link-inline a {
      color: #fff; }
    .footer .link-inline li {
      padding: 0 0.2em; }

.sticky-nav {
  position: fixed !important;
  top: 0 !important;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: ease-in-out .4s; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://wwΓÇªp='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

/*# sourceMappingURL=style.css.map */
